In [65]:
import pandas as pd

dic = {'hi':['sli','sli','woihg'],'hihi':['skiuh','sliuhe','swliuhe']}

In [68]:
df = pd.DataFrame(dic)
# df.to_dict()
df

      hi     hihi
0    sli    skiuh
1    sli   sliuhe
2  woihg  swliuhe

In [69]:
df['hi'] + df['hihi']

0        sliskiuh
1       slisliuhe
2    woihgswliuhe
dtype: object

In [70]:
def f(x):
    return x[::-1]

In [71]:
df['what'] = df['hi'].apply(f)
df

      hi     hihi   what
0    sli    skiuh    ils
1    sli   sliuhe    ils
2  woihg  swliuhe  ghiow