In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import os
import statsmodels
from statsmodels.tsa.seasonal import seasonal_decompose
print(pd.__version__)
print(sklearn.__version__)
print(statsmodels.__version__)

1.4.2
1.0.2
0.13.2

In [3]:
filename = os.listdir('data')[0]
ts = pd.read_csv('data/'+filename, parse_dates=True)
ts

           Date     Open     High      Low    Close     Adj Close    Volume
0    2021-04-28  83200.0  83200.0  82100.0  82100.0  80985.664063  15596759
1    2021-04-29  82400.0  82500.0  81500.0  81700.0  80591.093750  20000973
2    2021-04-30  81900.0  82100.0  81500.0  81500.0  80393.812500  18673197
3    2021-05-03  81000.0  82400.0  81000.0  81700.0  80591.093750  15710336
4    2021-05-04  81900.0  82600.0  81800.0  82600.0  81478.882813  12532550
..          ...      ...      ...      ...      ...           ...       ...
242  2022-04-22  67200.0  67300.0  66700.0  67000.0  67000.000000  11791478
243  2022-04-25  66500.0  66700.0  66300.0  66300.0  66300.000000  11016474
244  2022-04-26  66400.0  66700.0  66100.0  66100.0  66100.000000  12946923
245  2022-04-27  65400.0  65500.0  64900.0  65000.0  65000.000000  18122084
246  2022-04-28  65400.0  65500.0  64500.0  64700.0  64700.000000   8392583

[247 rows x 7 columns]

In [7]:
ts.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [13]:
ts['Date'][0] += 1

TypeError: can only concatenate str (not "int") to str